<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>all</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile1.png</string>
			<key>highlight</key>
			<string>tile1H.png</string>
			<key>label</key>
			<string>World Expo</string>
			<key>navImage</key>
			<string>navIntel.png</string>
			<key>navImageHighlight</key>
			<string>navIntelH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile2.png</string>
			<key>highlight</key>
			<string>tile2H.png</string>
			<key>label</key>
			<string>Mini</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navImageHighlight</key>
			<string>navMercH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile3.png</string>
			<key>highlight</key>
			<string>tile3H.png</string>
			<key>label</key>
			<string>Nickelodeon</string>
			<key>navImage</key>
			<string>navYahoo.png</string>
			<key>navImageHighlight</key>
			<string>navYahooH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4.png</string>
			<key>highlight</key>
			<string>tile4H.png</string>
			<key>label</key>
			<string>Agilent</string>
			<key>navImage</key>
			<string>navCoraline.png</string>
			<key>navImageHighlight</key>
			<string>navCoralineH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile5H.png</string>
			<key>label</key>
			<string>SalesForce</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navImageHighlight</key>
			<string>navIntelH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navImageHighlight</key>
			<string>navIntelH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile1H.png</string>
			<key>label</key>
			<string>Apple</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navImageHighlight</key>
			<string>navIntelH.png</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile4.png</string>
			<key>label</key>
			<string>Google</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navImageHighlight</key>
			<string>navIntelH.png</string>
		</dict>
	</array>
	<key>all - delete</key>
	<array>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
	</array>
	<key>ar</key>
	<array>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Nickelodeon</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>Mini</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>World Expo</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>World Expo</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>World Expo</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>World Expo</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>highlight</key>
			<string></string>
			<key>label</key>
			<string>World Expo</string>
		</dict>
	</array>
	<key>touch</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
	</array>
	<key>tracking</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
		</dict>
	</array>
</dict>
</plist>
