<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>all</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile1.png</string>
			<key>highlight</key>
			<string>tile1H.png</string>
			<key>label</key>
			<string>World Expo</string>
			<key>navImage</key>
			<string>navIntel.png</string>
			<key>navHighlight</key>
			<string>navIntelH.png</string>
			<key>page</key>
			<string>1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile2.png</string>
			<key>highlight</key>
			<string>tile2H.png</string>
			<key>label</key>
			<string>Mini</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navHighlight</key>
			<string>navMercH.png</string>
			<key>page</key>
			<string>2</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile3.png</string>
			<key>highlight</key>
			<string>tile3H.png</string>
			<key>label</key>
			<string>Nickelodeon</string>
			<key>navImage</key>
			<string>navYahoo.png</string>
			<key>navHighlight</key>
			<string>navYahooH.png</string>
			<key>page</key>
			<string>3</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4.png</string>
			<key>highlight</key>
			<string>tile4H.png</string>
			<key>label</key>
			<string>Agilent</string>
			<key>navImage</key>
			<string>navCoraline.png</string>
			<key>navHighlight</key>
			<string>navCoralineH.png</string>
			<key>page</key>
			<string>4</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile5H.png</string>
			<key>label</key>
			<string>SalesForce</string>
			<key>navImage</key>
			<string>navVH1.png</string>
			<key>navHighlight</key>
			<string>navVH1H.png</string>
			<key>page</key>
			<string>5</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4H.png</string>
			<key>highlight</key>
			<string>tile3.png</string>
			<key>label</key>
			<string>Disney</string>
			<key>navImage</key>
			<string>navNavy.png</string>
			<key>navHighlight</key>
			<string>navNavyH.png</string>
			<key>page</key>
			<string>6</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile1H.png</string>
			<key>label</key>
			<string>Apple</string>
			<key>navImage</key>
			<string>navSprint.png</string>
			<key>navHighlight</key>
			<string>navSprintH.png</string>
			<key>page</key>
			<string>7</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile4.png</string>
			<key>label</key>
			<string>Google</string>
			<key>navImage</key>
			<string>navVampire.png</string>
			<key>navHighlight</key>
			<string>navVampireH.png</string>
			<key>page</key>
			<string>8</string>
		</dict>
	</array>
	<key>ar</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile4.png</string>
			<key>label</key>
			<string>Google</string>
			<key>navImage</key>
			<string>navVampire.png</string>
			<key>navHighlight</key>
			<string>navVampireH.png</string>
			<key>page</key>
			<string>8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4.png</string>
			<key>highlight</key>
			<string>tile4H.png</string>
			<key>label</key>
			<string>Agilent</string>
			<key>navImage</key>
			<string>navCoraline.png</string>
			<key>navHighlight</key>
			<string>navCoralineH.png</string>
			<key>page</key>
			<string>4</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile3.png</string>
			<key>highlight</key>
			<string>tile3H.png</string>
			<key>label</key>
			<string>Nickelodeon</string>
			<key>navImage</key>
			<string>navYahoo.png</string>
			<key>navHighlight</key>
			<string>navYahooH.png</string>
			<key>page</key>
			<string>3</string>
		</dict>
	</array>
	<key>touch</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile5H.png</string>
			<key>label</key>
			<string>SalesForce</string>
			<key>navImage</key>
			<string>navVH1.png</string>
			<key>navHighlight</key>
			<string>navVH1H.png</string>
			<key>page</key>
			<string>5</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile2.png</string>
			<key>highlight</key>
			<string>tile2H.png</string>
			<key>label</key>
			<string>Mini</string>
			<key>navImage</key>
			<string>navMerc.png</string>
			<key>navHighlight</key>
			<string>navMercH.png</string>
			<key>page</key>
			<string>2</string>
		</dict>
	</array>
	<key>tracking</key>
	<array>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile4.png</string>
			<key>label</key>
			<string>Google</string>
			<key>navImage</key>
			<string>navVampire.png</string>
			<key>navHighlight</key>
			<string>navVampireH.png</string>
			<key>page</key>
			<string>8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile5.png</string>
			<key>highlight</key>
			<string>tile1H.png</string>
			<key>label</key>
			<string>Apple</string>
			<key>navImage</key>
			<string>navSprint.png</string>
			<key>navHighlight</key>
			<string>navSprintH.png</string>
			<key>page</key>
			<string>7</string>
		</dict>
		<dict>
			<key>image</key>
			<string>tile4.png</string>
			<key>highlight</key>
			<string>tile4H.png</string>
			<key>label</key>
			<string>Agilent</string>
			<key>navImage</key>
			<string>navCoraline.png</string>
			<key>navHighlight</key>
			<string>navCoralineH.png</string>
			<key>page</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
